<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Home']" icon="home"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div  class="well">
                
Hello  {{Name}} 
<a (click)="ShowHelp()" class="padding-10 padding-top-5 padding-bottom-5"><i
    class="fa fa-youtube-play"></i> <strong><u>H</u>elp</strong></a>

    <a (click)="SendFeedBack()" class="padding-10 padding-top-5 padding-bottom-5" ><i
        class="fa fa-bullhorn"></i> <strong><u>F</u>eedback</strong></a>
            </div>
        
        </div>
    </div>
</div>
<div >

       
</div>



